#splashscreen {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99;
  background-color: #EEEEEE;
  display: table;
  vertical-align: middle;
  text-align: center;
}

#splashimage {

}

.top-buffer {
  margin-top: 15px; 
}

.page {
  padding: 0 15px 15px 15px;
}

.shift-up-5 {
  position: relative; 
  top: -5px;
}

.shift-dn-5 {
  position: relative; 
  top: 5px;
}

#message {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
  padding: 10px;
}
