.top-buffer {
  margin-top: 15px; 
}

.page {
  padding: 0 15px 15px 15px;
}

#message {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
  padding: 10px;
}
