<% if(size < 1024 * 1024 && (mode=='read' || type!='file')) { %>
  <a class='dropbox-item-link' href='#'>
<% } %>

<% if(type == 'file') { %>
  <span class="glyphicon glyphicon-file"></span>
<% } else if(type == 'dir') { %>
  <span class="glyphicon glyphicon-folder-close"></span>
<% } else if(type == 'back') { %>
  <span class="glyphicon glyphicon-arrow-left"></span>
<% } %>

<% if(size < 1024 * 1024 && (mode=='read' || type!='file')) { %>
  </a>
  <a class='dropbox-item-link' href='#'><%= name %></a>
<% } else { %>
  <%= name %>
<% } %>
