<a class='dplink' href='#'>
<% if(type == 'file') { %>
<span class="glyphicon glyphicon-file"></span>
<% } else if(type == 'dir') { %>
<span class="glyphicon glyphicon-folder-close"></span>
<% } else if(type == 'back') { %>
<span class="glyphicon glyphicon-arrow-left"></span>
<% } else if(type == 'save') { %>
<span class="glyphicon glyphicon-floppy-save"></span>
<% } else if(type == 'newdir') { %>
<span class="glyphicon glyphicon-plus"></span>
<% } %>
</a>
<a class='dplink' href='#'><%= name %></a>
