#dropbox .modal-body li {
  list-style-type: none;
  line-height: 150%
}

.dropbox-item-link {
  cursor: pointer;
}

.dropbox-view-body {
  width: 100%;
  overflow-x: hidden;
  color: #999;
  word-wrap: break-word;
}

.dropbox-modal-footer-size {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
